.major {
    width:100%;
 
    display:table;
}
   

#head {
    font-weight:bold;
    text-align:center;

}
.major div { 
    display:table-cell;
    vertical-align:top;
    text-align:center;
   
}
.page-count{
    display:none;
}