<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-info">
                  <h1 class="card-title">Country Stats</h1>
                  <h4 class="card-category">
                    Last updated {{ lastUpdate | date }}
                  </h4>
                </div>
                <div class="card-body table-responsive">
                  <table class="table table-hover">
                    <thead class="text-warning">
                      <th></th>
                      <th>Country</th>
                      <th>Infected</th>
                      <th>Death</th>
                      <th>Today'Case</th>
                      <th>Recovered</th>
                      <!-- <th>active</th> -->
                      <!-- <th>critical</th> -->
                      <!-- <th>casesPerOneMillion</th> -->
                    </thead>
                    <tbody *ngFor="let country of allCountries;let i=index">
                      <tr>
                        <td>{{ i+1}}.</td>
                        <td>{{ country.country }}</td>
                        <td class="table-warning">{{ country.cases }}</td>
                        <td class="table-danger">
                          <h4>{{ country.deaths }}</h4>
                        </td>
                        <td>{{ country.todayCases }}</td>
                        <td>{{ country.recovered }}</td>
                        <!-- <td class="table-Active">{{ country.active }}</td> -->
                        <!-- <td>{{ country.critical }} </td> -->
        
                        <!-- <td>{{ country.casesPerOneMillion }}</td> -->
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          <!-- <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0"> Table on Plain Background</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Country
                                  </th>
                                  <th>
                                      City
                                  </th>
                                  <th>
                                      Salary
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Dakota Rice
                                      </td>
                                      <td>
                                          Niger
                                      </td>
                                      <td>
                                          Oud-Turnhout
                                      </td>
                                      <td>
                                          $36,738
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                          Minerva Hooper
                                      </td>
                                      <td>
                                          Curaçao
                                      </td>
                                      <td>
                                          Sinaai-Waas
                                      </td>
                                      <td>
                                          $23,789
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                          Sage Rodriguez
                                      </td>
                                      <td>
                                          Netherlands
                                      </td>
                                      <td>
                                          Baileux
                                      </td>
                                      <td>
                                          $56,142
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          4
                                      </td>
                                      <td>
                                          Philip Chaney
                                      </td>
                                      <td>
                                          Korea, South
                                      </td>
                                      <td>
                                          Overland Park
                                      </td>
                                      <td>
                                          $38,735
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          5
                                      </td>
                                      <td>
                                          Doris Greene
                                      </td>
                                      <td>
                                          Malawi
                                      </td>
                                      <td>
                                          Feldkirchen in Kärnten
                                      </td>
                                      <td>
                                          $63,542
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          6
                                      </td>
                                      <td>
                                          Mason Porter
                                      </td>
                                      <td>
                                          Chile
                                      </td>
                                      <td>
                                          Gloucester
                                      </td>
                                      <td>
                                          $78,615
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div> -->
      </div>
  </div>
</div>
 <!-- table -->
 <div class="row">
    <div class="col-lg-8 col-md-12">
     
    </div>
  </div>