<div class="card" style="height: 480px;">
    <div class="card-header card-header-warning">
        <h4 class="card-title">Country Stats</h4>
        <p class="card-category">Last updated {{ lastUpdate | date }}</p>

    </div>
    <div class="card-body table-responsive  ">
        <input type="text" value="" class="form-control" placeholder="Search..." (keyup)="updateFilter($event)">
        <ngx-datatable #cotable class="bootstrap" [columnMode]="'force'" [headerHeight]="20" [footerHeight]="50"
            rowHeight="auto" [rows]="rows" [columns]="columns" [limit]="5" [selected]="selected"
            [selectionType]="SelectionType.single" (select)="onSelect($event)">

            <ngx-datatable-footer>
                <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                    let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
                    <div class="page-count" *ngIf="!hideNow">
                        <span *ngIf="selectedMessage">
                            {{selectedCount.toLocaleString()}} {{selectedMessage}} -/-
                        </span>
                        {{rowCount.toLocaleString()}} {{totalMessage}}
                    </div>
                    <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'"
                        [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage"
                        [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)"
                        (change)="table.onFooterPage($event)">
                    </datatable-pager>
                </ng-template>
            </ngx-datatable-footer>
        </ngx-datatable>
    </div>


</div>