.ngx-datatable.bootstrap .datatable-footer .page-count {
    line-height: 150px;
    height: 150px;
    padding: 0 1.2rem;
}

.card .card-body ngx-datatable ngx-datatable-footer ng-template .page-count{
    color:red !important;
}