<div class="card">
    <div class="card-header card-header-warning">
        <h4 class="card-title">Country Stats</h4>
        <p class="card-category">Last updated {{ lastUpdate | date }}</p>
    </div>
    <div class="card-body table-responsive my-custom-scrollbar " >
        <table class="table table-hover">
            <thead class="text-warning">
                <th></th>
                <th>Country</th>
                <th>Infected</th>
                <th>Death</th>
                <th>Today'Case</th>
                <th>Recovered</th>
                <!-- <th>active</th> -->
                <!-- <th>critical</th> -->
                <!-- <th>casesPerOneMillion</th> -->
            </thead>
            <tbody *ngFor="let country of allCountries;let i=index">
                <tr>
                    <td>{{ i+1}}.</td>
                    <td>{{ country.country }}</td>
                    <td class="table-warning">{{ country.cases }}</td>
                    <td class="table-danger">
                        {{ country.deaths }}
                    </td>
                    <td>{{ country.todayCases }}</td>
                    <td>{{ country.recovered }}</td>
                    <td class="table-Active">{{ country.updated | date }}</td>
                    <!-- <td class="table-Active">{{ country.active }}</td> -->
                    <!-- <td>{{ country.critical }} </td> -->

                    <!-- <td>{{ country.casesPerOneMillion }}</td> -->
                </tr>
            </tbody>
        </table>


    </div>
</div>